name: Cleanup

on:
  workflow_call:
    inputs:
      cluster-name:
        required: true
        description: AKS Cluster Name With Randomly Generated Suffix
        type: string
  workflow_dispatch:
    inputs:
      cluster-name:
        required: true
        description: AKS Cluster Name With Randomly Generated Suffix
        type: string


jobs:
  remove-workload-and-cluster:
    name: Clean Up
    runs-on: ubuntu-latest
    steps:

      - name: Log into Azure
        run: |
          az login --service-principal \
            --username ${{ secrets.AZURE_SERVICE_PRINCIPAL_APP_ID }} \
            --password ${{ secrets.AZURE_SERVICE_PRINCIPAL_PASSWORD }} \
            --tenant ${{ secrets.AZURE_SERVICE_PRINCIPAL_TENANT }}

      - name: Clean Up
        id: cleanup
        env: 
          RESOURCE_GROUP: ${{ vars.RESOURCE_GROUP }}
          CLUSTER_NAME: ${{ inputs.cluster-name }}
        run: | 
          sleep 30 
          max_retries=5
          retries=0
          while [ $retries -lt $max_retries ]; do
              echo "Querying for cluster state"
              result=$(az aks show -g conf-container-examples -n $CLUSTER_NAME --query 'provisioningState' -otsv) 
              # Checking cluster state to be succeeded before initiating delete operation
              # Deleting a cluster in provisioning state results in CLI command error and dangling cluster 
              if [[ $result == *"Succeeded"* ]]; then
                  echo "Returned result is $result"
                  echo "Cluster is ready to be deleted."
                  az aks stop --resource-group $RESOURCE_GROUP --name $CLUSTER_NAME 2>&1
                  az aks delete --resource-group $RESOURCE_GROUP --name $CLUSTER_NAME --no-wait --yes
                  break  # Exit the loop on successful attempt
              else
                  echo "Returned cluster provisioning state is $result"
                  echo "Retrying in 3 minutes..."
                  retries=$((retries+1))
                  sleep 180
              fi
          done

          if [ $retries -eq $max_retries ]; then
            echo "The operation has been tried 3 times without success."
            exit 1
          fi