name: Kafka Demo Test 

on:
  workflow_call:
    inputs:
      sidecar-registry:
        description: "The registry to get the image from"
        required: true
        default: "mcr.microsoft.com"
        type: string
      key-release-image:
        description: "The image of the SKR sidecar to use"
        required: true
        default: "aci/skr:2.7"
        type: string
      consumer-image: 
        description: "Consumer Image"
        required: true
        type: string
      producer-image: 
        description: "Producer Image"
        required: true
        type: string
      kubernetes-version:
        description: "Kubernetes version to use for AKS cluster creation"
        required: true
        default: "1.28.3"
        type: string
      skr-kafka-demo-topic:
        description: "Kafka topic"
        required: true
        default: "kafka-demo-topic"
        type: string  
  workflow_dispatch:
    inputs:
      sidecar-registry:
        description: "The registry to get the image from"
        required: true
        type: choice
        options: 
          - mcr.microsoft.com
          - confidentialsidecars.azurecr.io
      key-release-image:
        description: "The image of the SKR sidecar to use"
        required: true
        default: "aci/skr:2.7"
        type: string
      consumer-image: 
        description: "Consumer Image"
        required: true
        type: string
      producer-image: 
        description: "Producer Image"
        required: true
        type: string
      kubernetes-version:
        description: "Kubernetes version to use for AKS cluster creation"
        required: true
        default: "1.28.3"
        type: string
      skr-kafka-demo-topic:
        description: "Kafka topic"
        required: true
        default: "kafka-demo-topic"
        type: string  
  merge_group:
    branches:
      - main
      - kafka-demo-pipeline

jobs:
  create-prepare-aks-cluster: 
    name: Create AKS Cluster
    uses: ./.github/workflows/_create_prepare_aks_cluster.yml
    secrets: inherit
    with: 
      kubernetes-version: ${{ inputs.kubernetes-version }}

  deploy-kafka-test: 
    name: Deploy Kafka Demo Test 
    uses: ./.github/workflows/_deploy_kafka_test.yml
    needs: [create-prepare-aks-cluster]
    secrets: inherit 
    with: 
      skr-kafka-demo-topic: ${{ inputs.skr-kafka-demo-topic }}
      cluster-name: ${{ needs.create-prepare-aks-cluster.outputs.cluster-name }}
      sidecar-registry: ${{ inputs.sidecar-registry }}
      key-release-image: ${{ inputs.key-release-image }}
      consumer-image: ${{ inputs.consumer-image }}
      producer-image: ${{ inputs.producer-image }}

  test-workload: 
    name: Test Workload 
    uses: ./.github/workflows/_test_workload.yml
    needs: [create-prepare-aks-cluster, deploy-kafka-test]
    secrets: inherit 
    with: 
      cluster-name: ${{ needs.create-prepare-aks-cluster.outputs.cluster-name }}

  cleanup: 
    name: Clean Up
    uses: ./.github/workflows/_cleanup.yml
    needs: [create-prepare-aks-cluster, deploy-kafka-test, test-workload]
    secrets: inherit 
    with: 
      cluster-name: ${{ needs.create-prepare-aks-cluster.outputs.cluster-name }}


  

